@mixin product-style(
    $li-display: block, 
    $li-background: rgba(255, 255, 255, 0.151), 
    $li_price-display: block,
    $li_price-color: #bf97db, 
    $li_price-marginLeft: 0) {
    
    padding: 0;
    list-style-type: none;

    li {
        display: $li-display;
        background: $li-background;
        margin-right: 10px;
        margin-top: 10px;
        padding: 20px;

        .price {
            display: $li_price-display;
            font-weight: bold;
            color: $li_price-color;
            margin-left: $li_price-marginLeft;
        }
    }
}